@font-face {
  font-family: "Cuprum";
  src:
  url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src:
  url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src:
  url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src:
  url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Pt Sans";
  src:
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pt Sans";
  src:
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
--basic-red: #EE3643;
--basic-dark-blue: #293449;
--basic-white: #FFFFFF;
--basic-green: #63A63E;
--basic-grey: #B7BFC8;
--basic-light-grey: #C5C5C5;
--basic-blue: #32425C;
--basic-black: #000000;
--basic-light-blue: #F1F5F7;
--basic-yellow: #FFBF47;
--basic-light-yellow: #FFC047;
--basic-extra-light-blue: #3BBCE3;
--basic-violet: #DC91D8;
--basic-light-green: #8ED78F;
--basic-extra-light-grey: rgba(0, 0, 0, 0.25);
--basic-neutral: #F9F5F0;
--basic-dark-neutral: #A9A9A9;
--basic-light-neutral: #F3F7F9;
--basic-light-brown: #FFD180;
--basic-light-extra-grey: #C1C6CE;
--basic-neutral1: #F7F3EC;
--basic-color1: #EAEAEA;
--basic-color2: #1D2739;
--basic-dark-red: #CA2C37;
--basic-dark-extra-red: #BA2732;
--basic-color-success: #5FBB2D;
--basic-color3: #518534;
--basic-color4: rgba(0, 0, 0, 0.0001);
--basic-color5: #F4F4F4;
--basic-color6: #161D29;
--basic-color7: #3D546F;
--basic-color8: #405069;
--basic-color9: #367315;
--basic-color10: #E5E5E5;
--basic-color11: #F1F1F1;
--basic-clor12: rgba(0, 0, 0, 0.24);
--basic-color13: rgba(255, 255, 255, 0.5);
}
.page-body {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  font-family: "PT Sans", "Arial" sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.header-container-block1 {
  background-color: var(--basic-dark-blue);
}
.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-clor12);
}
.logo:active {
  background-color: var(--basic-dark-extra-red);
}
.form-search {
  background-color: var(--basic-dark-blue);
  border: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.main-header-list {
  list-style: none;
}
.main-header-list-item-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-decoration: none;
}
.main-header-list-item:last-child {
  background-color: var(--basic-green);
}
.main-header-list-item:last-child:hover {
  background-color: var(--basic-color-success);
}
.main-header-list-item-link:active {
  color:  var(--basic-color13);
}
/*.main-header-list-item:active:not:last-child {
  background-color: var(--basic-color6);
}*/
.main-header-list-item-link:first-child:active,
.main-header-list-item-link:nth-child(2):active {
  background-color: var(--basic-color6);
}
 /*.main-header-list-item-link:hover .icon-bookmark,
 .main-header-list-item-link:hover .icon-cart {
  fill: var(--basic-white);
}*/
.header-wrapper {
  background-color: var(--basic-light-blue);
}
.main-title {
  font-family: "Cuprum", "Arial", sans-serif;
    font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}
.header-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-blue);
  background-color: var(--basic-light-neutral);
}
.header-contacts-link {
  color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  }
.main-header-list2 {
  list-style: none;
}
.main-header-list2-item {
  background-color: var(--basic-white);
}
.main-header-list2-item-link {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.login-icon:hover {
  background-color: var(--basic-color7);
}
.main-header-list2-item-link:hover {
  color: var(--basic-red);
}
.main-header-list2-item-link:active {
  color: var(--basic-light-grey);
}
.header-container-block3 {
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
}
.main-navigation-list {
  list-style: none;
}
.main-navigation-list-item-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-decoration: none;
}
.features-list {
  list-style: none;
}
.features-list-item:first-child {
  background: var(--basic-yellow) url("../img/icon-1.svg") no-repeat;
}
.features-list-item:nth-child(2) {
  background: var(--basic-extra-light-blue) url("../img/icon-2.svg") no-repeat;
}
.features-list-item:nth-child(3) {
  background: var(--basic-violet) url("../img/icon-3.svg") no-repeat;
}
.features-list-item:nth-child(4) {
  background: var(--basic-light-green) url("../img/icon-4.svg") no-repeat;
}
.features-list-item:last-child {
  background: var(--basic-light-yellow) url("../img/icon-5.svg") no-repeat;
}
.features-list-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.features-list-item-link {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-white);
  opacity: 0.3;
  mix-blend-mode: normal;
}
.features-list-item-link:hover {
  background-color: var(--basic-light-grey);
}
.features-list-item-link:active {
  background-color: var(--basic-dark-neutral);
}
.button {
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.features-list-button {
  transform: rotate(45deg);
}
.features-slider1 {
  background: url("../img/perforator.jpg") no-repeat;
              /*url("../img/icon-left.svg"),
              url("../img/icon-left.svg");*/

}
.features-slider2 {
  background: url("../img/drill.jpg") no-repeat;
              /*url("../img/icon-left.svg"),
              url("../img/icon-left.svg");*/
}
.features-slider-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.features-slider-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.features-slider-link {
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}
.features-slider-link:hover {
    background-color: var(--basic-dark-red);
}
.features-slider-link:active {
    background-color: var(--basic-dark-extra-red);
}
.products-container {
background-color: var(--basic-neutral);
}
.products-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-blue);
}
.products-list {
  list-style: none;
}
.products-list-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}
.old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-dark-neutral);
}
.brands-container {
  background-color: var(--basic-neutral);
}
.brands-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}
.brands-list {
  list-style: none;
}
.services {
  background-color: var(--basic-light-blue);
}
.services-title {
  font-family: "Cuprum", "Arial", sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}
.services-text {
  font-family: "PT Sans" "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.services-slider-list {
  list-style: none;
}
.services-slider-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  box-shadow: 0px 1px 0px var(--basic-dark-blue), inset 0px 1px 0px var(--basic-color8);
}
.services-slider-button:hover {
  background-color: var(--basic-dark-blue);
}
.services-slider-button:active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
  color: var(--basic-blue);
}
.services-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}
.services-desc {
  font-family: "PT Sans" "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
/*.shipping {
  background: url("../img/logo-semitruck.svg") no-repeat;
}
.warranty {
  background: url("../img/logo-guarantee.svg") no-repeat;
}
.loan {
  background: url("../img/logo-credit.svg") no-repeat;
}*/
.info-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.info-desc {
  font-family: "PT Sans" "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);

}
.info-list {
  list-style: none;
}
.info-list-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}
/*.info-list-item:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}*/
.personal-info {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}
.form {
  font-family: "PT Sans" "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-dark-neutral);
}
.footer-container-block1 {
  background-color: var(--basic-blue);
}
.footer-navigation-block1 {
  list-style: none;
}
.footer-navigation-block1-item-link {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-blue);
}
.footer-navigation-block1-item-link:hover {
  text-decoration: underline;
}
.footer-navigation-block1-item-link:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer-container-block2 {
  background-color: var(--basic-blue);
}
.footer-info-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-neutral);
 }
.footer-info-text-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-neutral);
  align-items: center;
  text-decoration: none;
}
.footer-navigation-block2 {
  list-style: none;
}
.footer-navigation-block2-item-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: var(--basic-light-brown);
  text-decoration: none;
}
.footer-navigation-block2-item-link:hover {
  text-decoration: underline;
}
.footer-navigation-block2-item-link:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer-container-block3 {
  background-color: var(--basic-dark-blue);
}
.copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.social-list {
  list-style: none;
}
/*.social-list-item:first-child .social-list-item-link {
  background: url("../img/icon-vk.svg") no-repeat;
}
.social-list-item:nth-child(2) .social-list-item-link {
  background: url("../img/icon-fb.svg") no-repeat;
}
.social-list-item:last-child .social-list-item-link {
  background: url("../img/icon-insta.svg") no-repeat;
}*/
.developer-desc {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.developer-email {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
  text-decoration: none;
}
.developer-email:hover {
  text-decoration: underline;
}
.developer-email:active {
  color: var(--basic-red);
}
.main-header-list-item-link-cart {
  background-color: var(--basic-red);
  text-decoration: none;
}
.name-wrapper {
  background-color: var(--basic-white);
}
.name {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}
.name:active {
  color: var(--basic-light-grey);
}
.login-list {
  list-style: none;
}
.login-list-item-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-blue);
  text-decoration: none;
}
.login-list-item-link:hover {
  color: var(--basic-red);
}
.login-list-item-link:active {
  color: var(--basic-light-grey);
}
.breadcrumbs {
  list-style: none;
}
.breadcrumbs-link {
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.breadcrumbs-list::after/*:not(:last-child) не работает с псевдоклассом?*/ {
  content:"";
  display: block;
  width: 7px;
  height: 11px;
  background: url("../img/icon-right-small.svg");
}
.items-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-light-blue);
}
 .filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-neutral1);
}
.filter-legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.legend {
  letter-spacing: 0.0484964px;
}
.filter-list {
  list-style: none;
}
.filter-fieldset {
  border: none;
}
.filter-checkbox {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.filter-radio {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
}
.sort {
  background-color: var(--basic-neutral1);
}
.sort-list {
  list-style: none;
}
.sort-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-light-grey);
  mix-blend-mode: normal;
  opacity: 0.3;
  border: none;
  border-bottom: 1px dotted var(--basic-red);
}
.sort-button:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sort-button:active {
  color: var(--basic-red);
  border: none;
}
.down-icon:last-of-type {
  transform: rotate(-180deg);
}
.btn:first-of-type {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-color9);
  text-decoration: none;
}
.btn:first-of-type:hover {
  background-color: var(--basic-color-success);
}
.btn:first-of-type:active {
  background-color: var(--basic-color3);
}

.btn/*:last-of-type*/ {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  text-decoration: none;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}
.btn:hover {
  border: 3px solid var(--basic-blue);
}
.btn:active {
  opacity: 0.5;
}
.pagination-list {
  list-style: none;
}
.pagination-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  border: 1px solid var(--basic-color10);
  box-sizing: border-box;
  border-radius: 2px;
  text-decoration: none;
}
.pagination-link:hover {
  border: 1px solid var(--basic-light-grey);
}
.pagination-link:active {
  border: 1px solid var(--basic-red);
}
.catalog-popup-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-black);
}
.popup-wrapper {
  background-color: var(--basic-color11);
}
.catalog-popup-link {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
.info {
  background-color: var(--basic-light-blue);
}
.info-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.info-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
